@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<LoteEstatistica>
@{
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Estatísticas de Lote";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <nav class="navbar navbar-default navbar-fixed-side">

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Num</th>
                            <th>S/Pot</th>
                            <th>S/Vis</th>
                            <th>S/Ent</th>
                        </tr>
                    </thead>
                    <tbody class="corpoTabela2">
                        <tr>
                            <td class="col-xs-9 col-lg-8" style="padding-right:0px; padding-bottom:0px; padding-top:0px; "><b>Potencial</b></td>
                            <td class="noPaddingTopBot col-xs-3 col-lg-4">1333</td>
                        </tr>
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; "><b>Visitados</b></td>
                            <td class="col-xs-2">0</td>
                            <td class="col-xs-1">0</td>

                        </tr>
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; "><b>Entrevistados</b></td>
                            <td class="col-xs-1">0</td>
                            <td class="col-xs-1">0</td>
                            <td class="col-xs-1">0</td>
                            <td class="col-xs-1"></td>
                        </tr>
                        <tr>
                            <td class="col-xs-9" style="padding-right:0px; "><b>Contratados</b></td>
                            <td class="col-xs-1">150</td>
                            <td class="col-xs-1">150</td>
                            <td class="col-xs-1">150</td>
                            <td class="col-xs-1">150</td>
                        </tr>


                        <tr>
                            <td class="col-xs-9" style="padding-right:0px;"><b>Não Visitados</b></td>
                            <td   class="col-xs-1">150</td>
                            <td class="col-xs-1">150</td>
                            <td class="col-xs-1">150</td>
                            
                        </tr>
                        <tr>
                            <td class="col-xs-11" style="padding-right:0px;"><b>Não Entrevistados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px; "><b>Visitados Não Entrevistados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>


                        <tr>
                            <td style="padding-right:0px; "><b>Não Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px; "><b>Visitados Não Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px; "><b>Entrevistados Não Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>

                        <tr>
                            <td style="padding-right:0px; "><b>D2 Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px; "><b>SVG Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td style="padding-right:0px; "><b>SVE Contratados</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>



                    </tbody>
                </table>

                <br />
                <table class="table" >
                    <thead>
                        <tr>
                            <th></th>
                            <th>Num</th>
                            <th>S/Vis</th>
                            <th>S/Ent</th>
                            <th>S/Pot</th>
                        </tr>
                    </thead>
                    <tbody class="corpoTabela2">
                        <tr>
                            <td  class="col-xs-9 col-lg-8" style="padding-right:0px; "><b>Visitas Realizadas</b></td>
                            <td >0</td>
                        </tr>
                        <tr>
                            <td  class="col-xs-9 col-lg-8" style="padding-right:0px; "><b>Entrevistas Realizadas</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="col-xs-9 col-lg-8" style="padding-right:0px; "><b>Visitas Improdutivas</b></td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table>

            </nav>
       </div>


        <div class="col-sm-8 col-lg-2">
            <table id="tableLote" class="table table-bordered table-hover tabelaModal">
                <thead>
                    <tr>
                        <th class="text-left">LOTE</th>
                        <th class="text-left">Z</th>
                        <th class="text-left">D</th>
                        <th class="text-left">AR</th>
                    </tr>
                </thead>
                <tbody id="corpoLotes" class="corpoTabela" >
                   
                </tbody>
            </table>
        </div>


        <div class="col-sm-8 col-lg-2">
            <table id="tableLote"class="table table-bordered table-hover tabelaModal">
                <thead>
                    <tr>
                        <th class="text-center">STATUS</th>
                        <th class="text-left">NUM</th>
                        <th class="text-left">S/POT</th>
                        <th class="text-left">S/VIS</th>
                        <th class="text-left">S/ENT</th>
                    </tr>
                </thead>
                <tbody class="corpoTabela">                
                        <tr class="mouse-hand">
                            <td>CONTRATADO</td>
                            <td>NÃO TESTE</td>
                            <td>NÃO TESTE</td>
                            <td>NÃO TESTE</td>
                        </tr>
                </tbody>
            </table>



        </div>


        <div class="col-sm-8 col-lg-6">
            

        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/loteEstatistica.js"></script>
<script type="text/javascript">

    function exibeLotes() {
        $.getJSON("@Url.Action("BuscaLotes", "LoteEstatistica")", preencheTableLotes);
    }
</script>
}