@using NovatecEnergyWeb.Models.StoredProcedures;
@using Microsoft.AspNetCore.Http;
@using NovatecEnergyWeb.Core;
@model IEnumerable<LoteEstatistica>
@{
    Layout = "~/Views/Shared/_LayoutSideNavBar.cshtml";
    ViewData["Title"] = "Estatísticas de Lote";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">
                <h4 id="titulo" class="text-center">Estatística</h4>

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                        </tr>
                    </thead>
                    <tbody class="fontTableBodyNavBar">

                        <tr>
                            <td style="padding-right:0px; "><b>Teste</b></td>
                            <td id="e0" class="col-xs-2 text-right">TEste2 </td>
                            <td >Teste23</td>
                            <td >Teste23ww</td>
                            <td >Tedddste23</td>
                        </tr>
                        </tbody>
                    </table>
            </nav>
       </div>


        <div class="col-sm-8 col-lg-2">
            <table id="tableLote" class="table table-bordered table-hover tabelaModal">
                <thead>
                    <tr>
                        <th class="text-left">LOTE</th>
                        <th class="text-left">Z</th>
                        <th class="text-left">D</th>
                        <th class="text-left">AR</th>
                    </tr>
                </thead>
                <tbody id="corpoLotes" class="corpoTabela" >
                   
                </tbody>
            </table>
        </div>


        <div class="col-sm-8 col-lg-2">
            <table id="tableLote"class="table table-bordered table-hover tabelaModal">
                <thead>
                    <tr>
                        <th class="text-center">STATUS</th>
                        <th class="text-left">NUM</th>
                        <th class="text-left">S/POT</th>
                        <th class="text-left">S/VIS</th>
                        <th class="text-left">S/ENT</th>
                    </tr>
                </thead>
                <tbody class="corpoTabela">                
                        <tr class="mouse-hand">
                            <td>CONTRATADO</td>
                            <td>NÃO TESTE</td>
                            <td>NÃO TESTE</td>
                            <td>NÃO TESTE</td>
                        </tr>
                </tbody>
            </table>

        </div>


        <div class="col-sm-8 col-lg-6">
            

        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/loteEstatistica.js"></script>
<script type="text/javascript">

    function exibeLotes() {
        $.getJSON("@Url.Action("BuscaLotes", "LoteEstatistica")", preencheTableLotes);
    }
</script>
}