@using NovatecEnergyWeb.Models;

@model IEnumerable<NovatecEnergyWeb.Models.Funcionários>
@{
    ViewData["Title"] = "Login";
}

<h2>Informe seu Login e Senha</h2>

    <div class="row">
        <div class="col-md-8">
            <section>

                <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
                    <div class="col-md-12">
                        <label class="radio-inline">
                            <input type="radio" name="tipoUsu" id="radio_func" checked value="func" onclick="trocaUser()">Funcionários
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tipoUsu" id="radio_cli" value="cli" onclick="trocaUser()">Clientes
                        </label>
                        <br />
                    </div>

       
                   
                    <br /><br /><label onclick="encriptaPass()" class="col-md-2 control-label">Usuário</label>
                    <div class="col-md-10">
                        <select id="usuarios" name="funcionario.Login"  class="form-control">
                           <option></option>   
                        
                            @foreach (var item in Model)
                            {
                                <option value ="@item.Id|@item.Login">@Html.DisplayFor(m => item.Login)</option>
                            }
             
                        </select> <br />
                    </div>
                    
                    
                    <label  class="col-md-2 control-label">Senha</label>
                    <div class="col-md-10">
                       
                        <input id ="pass" type="password" name="funcionario.Senha" class="form-control" /> <br />
                        @Html.ValidationMessage("funcionario.Senha")
                    </div>

                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="submit" onclick="encriptaPass()" value="OK" class="btn btn-default" />
                    </div>
               
                </form>
            </section>
        </div>
   </div>

<script type="text/javascript">

    function trocaUser() {
        var parametros = {};

        if (document.getElementById('radio_func').checked) {
            parametros.control = 'func';
        } else if (document.getElementById('radio_cli').checked) {
            parametros.control = 'cli';

        }
        $.post("@Url.Action("TrocaTipoUsuario", "Account")", parametros, atualizaDrop);
    };

    function atualizaDrop(list) {

        $("#usuarios").empty();
        $("#usuarios").append($("<option />").val('').text(''));

        $.each(list, function () {
            $("#usuarios").append($("<option />").val(this.id + '|' + this.login).text(this.login));
        });

    };

    function encriptaPass() {
       var  valor =  $('#pass').val();
       $("#pass").val(SHA1(valor));
    };



</script>
