@{
    ViewData["Title"] = "Gráfico Teste";
}
<h2>@ViewData["Title"]</h2>

<select>
    <option>2015</option>
    <option>2016</option>
    <option selected>2017</option>
</select>
<div style="width:100%">
    <canvas id="canvas"></canvas>
</div>
<script>

    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100);
        //return 0;
    };
    var randomColorFactor = function () {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function (opacity) {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',' + (opacity || '.3') + ')';
    };


    var config = {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set","Out", "Nov", "Dec"],
            datasets: [
                {
                label: "Resultado",
                data: [],
                fill: false,
                borderDash: [5, 5],
            }, {
                hidden: false,
                label: 'Metas',
                data: [],
            }, {
                label: "Cargas",
                data: [],
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Tabela Resumo'
            },
            tooltips: {
                mode: 'label',
                callbacks: {

                }
            },
            hover: {
                mode: 'dataset'
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        show: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        show: true,
                        labelString: 'Value'
                    },
                    ticks: {
                        suggestedMin: -700,
                        suggestedMax: 1900,
                    }
                }]
            }
        }
    };

    

    $.each(config.data.datasets, function (i, dataset) {
        dataset.borderColor = randomColor(0.4);
        dataset.backgroundColor = randomColor(0.5);
        dataset.pointBorderColor = randomColor(0.7);
        dataset.pointBackgroundColor = randomColor(0.5);
        dataset.pointBorderWidth = 1;
    });

    window.onload = function () {
        var parametro = {};
        parametro.anoSelecionado = 2015;

        $.post("@Url.Action("BuscaMetasFiltradas", "Metas")", parametro, function (retorno) {
            for (var i = 0; i < 12; i++) {
                config.data.datasets[0].data.push(parseInt(retorno.Resumos[0].meses[i]));
                config.data.datasets[1].data.push(parseInt(retorno.Resumos[1].meses[i]));
                config.data.datasets[2].data.push(parseInt(retorno.Resumos[2].meses[i]));
               
            }
       
        });


        var ctx = document.getElementById("canvas").getContext("2d");
        window.myLine = new Chart(ctx, config);
    };
 






</script>
