@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div >
    <img class="background"  style="display:block; height:auto; min-height:100%" src="~/images/NE2.jpg">
</div>
 