@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutSideNavBar2.cshtml";
}

<div >
    <img class="img-responsive background"  style="min-height:100%" src="~/images/NE2.jpg">
</div>
 