@using Microsoft.AspNetCore.Http;
<ul class="nav navbar-nav">
  
    @{
        object us = Context.Session.GetInt32("UserId");
        string tipo = Context.Session.GetString("UserTipo");
        int grupo = Convert.ToInt32(Context.Session.GetInt32("Grupo"));

        if ((us != null) && (tipo != null && (tipo == "func")))
        {
            if (grupo == 1)
            {
                 <li><a href="#">Financeiro</a></li>
            }
               <!--  <li class="dropdown" >
                     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Oferta pública <span class="caret"></span></a>
                      <ul class="dropdown-menu">-->
                          <li><a asp-area="" asp-controller="Cargas" asp-action="Index">Cargas</a></li>
                 <!--     </ul>
                 </li>-->
                 <li><a href="#">Rede</a></li>
                <!--  <li><a asp-controller="Adesao" asp-action="EnderecosVisitas">Lotes</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="LotePorCliente" asp-action="Index"><i class="fa fa-street-view fa-sm"></i>&nbsp;Por Cliente</a></li>
                        <li><a asp-area="" asp-controller="LotePorEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                        <li><a asp-area="" asp-controller="LoteEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                    </ul>
                </li>
            if (grupo == 1)
            {
                <li><a asp-area="" asp-controller="ClientesWeb" asp-action="Index">Ativação de clientes</a></li>
            }

        }
        else if ((us != null) && (tipo != null && (tipo == "cli")))
        {
           <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Oferta pública <span class="caret"></span></a>
                <ul class="dropdown-menu">-->
                    <li><a asp-area="" asp-controller="Cargas" asp-action="Index">Cargas</a></li>
              <!--   </ul>
            </li> 
            <li><a href="#">Rede</a></li>-->
            <!--  <li><a asp-controller="Adesao" asp-action="EnderecosVisitas">Lotes</a></li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="LotePorCliente" asp-action="Index"><i class="fa fa-street-view fa-sm"></i>&nbsp;Por Cliente</a></li>
                    <li><a asp-area="" asp-controller="LotePorEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                    <li><a asp-area="" asp-controller="LoteEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                </ul>
            </li>

        }

    }
</ul>