@using Microsoft.AspNetCore.Http;
<ul class="nav navbar-nav">
  
    @{
        object us = Context.Session.GetInt32("UserId");
        string tipo = Context.Session.GetString("UserTipo");
        int grupo = Convert.ToInt32(Context.Session.GetInt32("Grupo"));

        if ((us != null) && (tipo != null && (tipo == "func")))
        {
            
                 <li><a asp-area="" asp-controller="Cargas" asp-action="Index"><i class="fa fa-briefcase fa-sm"></i>&nbsp;Cargas</a></li>
                
                 <!--  <li><a href="#"><i class="fa fa-external-link-square fa-sm"></i>&nbsp;Rede</a></li> -->
                
                 <!--  <li><a asp-controller="Adesao" asp-action="EnderecosVisitas">Lotes</a></li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes Apartamentos<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Visita" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                        <li><a asp-area="" asp-controller="LotePorCliente" asp-action="Index"><i class="fa fa-street-view fa-sm"></i>&nbsp;Por Cliente</a></li>
                        <li><a asp-area="" asp-controller="LotePorEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                        <li><a asp-area="" asp-controller="LoteEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes Condomínios<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      
                        <li><a asp-area="" asp-controller="CondVisita" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                        <li><a asp-area="" asp-controller="CondEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                        <li><a asp-area="" asp-controller="CondEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                    </ul>
                </li>

               <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-industry fa-sm"></i>&nbsp;Pco<span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <!--<li><a asp-area="" asp-controller="Pco" asp-action="Index"><i class="fa fa-navicon fa-sm"></i>&nbsp;Pco View</a></li> -->
                        <li><a asp-area="" asp-controller="VisitaPco" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                        <li><a asp-area="" asp-controller="LoteEstatisticaPco" asp-action="Index"><i class="fa fa-navicon fa-sm"></i>&nbsp;Estatistica</a></li>
                        
                        
                    </ul>
                </li>

            <!--    <li><a asp-area="" asp-controller="ClientesWeb" asp-action="Index">Ativação de clientes</a></li>-->
            

        }
        else if ((us != null) && (tipo != null && (tipo == "cli")))
        {
           <!-- <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Oferta pública <span class="caret"></span></a>
                <ul class="dropdown-menu">-->

            <li><a asp-area="" asp-controller="Cargas" asp-action="Index"><i class="fa fa-briefcase fa-sm"></i>&nbsp;Cargas</a></li>

              <!--   </ul>
            </li> 
            <li><a href="#">Rede</a></li>-->
            <!--  <li><a asp-controller="Adesao" asp-action="EnderecosVisitas">Lotes</a></li> -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes Apartamentos<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="Visita" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                    <li><a asp-area="" asp-controller="LotePorCliente" asp-action="Index"><i class="fa fa-street-view fa-sm"></i>&nbsp;Por Cliente</a></li>
                    <li><a asp-area="" asp-controller="LotePorEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                    <li><a asp-area="" asp-controller="LoteEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-building-o fa-sm"></i>&nbsp;Lotes Condomínios<span class="caret"></span></a>
                <ul class="dropdown-menu">

                    <li><a asp-area="" asp-controller="CondVisita" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                    <li><a asp-area="" asp-controller="CondEndereco" asp-action="Index"><i class="fa fa-road fa-sm"></i>&nbsp;Por Endereço</a></li>
                    <li><a asp-area="" asp-controller="CondEstatistica" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatística</a></li>
                </ul>
            </li>

             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-industry fa-sm"></i>&nbsp;Pco<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a asp-area="" asp-controller="VisitaPco" asp-action="Index"><i class="fa fa-address-card fa-sm"></i>&nbsp;Visitas</a></li>
                    <li><a asp-area="" asp-controller="LoteEstatisticaPco" asp-action="Index"><i class="fa fa-bar-chart fa-sm"></i>&nbsp;Estatistica</a></li>

                </ul>
            </li>
        }

    }
</ul>